.uden-logo {
  height: 40px;
  margin: 15px;
}

.menu {
  .btn {
    display: inline-block;
    border-radius: 0.45em !important;
    outline: none !important;
    &:hover {
      background-color: #f36f3e;
      color: #fff !important;
      transition: ease-in 300ms;
    }
  }
}

.btn {
  border-radius: 0.45em !important;
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .fa {
  right: 0px;
}
.right-addon .fa {
  left: 0px;
}

/* add padding  */
.left-addon input {
  padding-left: 30px;
}
.right-addon input {
  padding-right: 30px;
}

.profile-img {
  width: 25px;
}
