<div
  [ngClass]="currentRoute != 'login' &&
      currentRoute != 'intro' &&
      currentRoute != 'register' ? 'container-fluid bg-light' : 'container'"
>
  <div class="row">
    <div class="col-sm-12 p-2 d-md-none">
      <img
        src="../../../../assets/uden-logo.png"
        alt="udenlogo"
        class="uden-logo"
        [routerLink]="['/']"
      />
      <button
        class="btn btn text-warning m-2 text-white float-right rounded-pill"
      >
        <button
          *ngIf="currentRoute == 'register'"
          class="btn btn-outline-warning"
          [routerLink]="['/login']"
        >
          Sign In
        </button>
        <button
          *ngIf="currentRoute == 'login' || currentRoute == 'intro'"
          class="btn btn-outline-warning"
          [routerLink]="['/register']"
        >
          Sign Up
        </button>
        <button
          class="btn btn-outline-warning"
          *ngIf="
            currentRoute != 'login' &&
            currentRoute != 'intro' &&
            currentRoute != 'register'
          "
        >
          <i class="fa fa-user pr-2"></i>Hi, Aaroh!
        </button>
      </button>
    </div>
    <div class="col-md-2 d-none d-md-block">
      <a [routerLink]="['/']"
        ><img
          src="../../../../assets/uden-logo.png"
          alt="udenlogo"
          class="uden-logo"
      /></a>
    </div>
    <div
      class="col-md-10 p-3 d-none d-md-block menu text-right"
      *ngIf="
        currentRoute == 'login' ||
        currentRoute == 'intro' ||
        currentRoute == 'register'
      "
    >
      <button class="btn text-warning ml-4">How it works</button>
      <button class="btn text-warning ml-4">Programs</button>
      <button class="btn text-warning ml-4">Resources</button>
      <button class="btn text-warning ml-4">Pricing</button>
      <button class="btn text-warning ml-4" [routerLink]="['/login']">
        Sign In
      </button>
      <button class="btn text-warning ml-4" [routerLink]="['/register']">
        Sign Up
      </button>
    </div>
    <div
      class="col-md-6 d-none d-md-block menu"
      *ngIf="
        currentRoute != 'login' &&
        currentRoute != 'intro' &&
        currentRoute != 'register'
      "
    >
      <div class="inner-addon left-addon pt-3 pl-2">
        <i class="fa fa-search text-light"></i>
        <input
          type="text"
          class="form-control"
          placeholder="Search for people, companies, insitiutes etc."
        />
      </div>
    </div>
    <div
      class="col-md-2 d-none d-md-block menu"
      *ngIf="
        currentRoute != 'login' &&
        currentRoute != 'intro' &&
        currentRoute != 'register'
      "
    ></div>
    <div
      class="col-md-2 p-3 d-none d-md-block user-menu text-right pr-4"
      *ngIf="
        currentRoute != 'login' &&
        currentRoute != 'intro' &&
        currentRoute != 'register'
      "
    >
      <button class="btn bg-white btn-lg text-dark">
        <img src="../../../../assets/profile.png" alt="" class="profile-img rounded-circle"> Hi, Aaroh!
      </button>
    </div>
  </div>
</div>
