<div [ngClass]="currentRoute != 'login' &&
currentRoute != 'intro' &&
currentRoute != 'register' ? 'container-fluid mt-4' : 'container mt-4'">
  <div class="row">
    <div class="col-md-4">
      <img
        src="../../../../assets/uden-logo.png"
        alt="udenlogo"
        class="uden-logo"
      />
    </div>
    <div class="col-md-2">
      <ul class="list-group list-group-flush">
        <li class="list-group-item border-0">
          <a href="/" class="text-muted"> How it works </a>
        </li>
        <li class="list-group-item border-0">
          <a href="/" class="text-muted"> Programs </a>
        </li>
        <li class="list-group-item border-0">
          <a href="/" class="text-muted"> Security </a>
        </li>
      </ul>
    </div>
    <div class="col-md-2">
      <ul class="list-group list-group-flush">
        <li class="list-group-item border-0">
          <a href="/" class="text-muted"> Resources </a>
        </li>
        <li class="list-group-item border-0">
          <a href="/" class="text-muted"> Jobs </a>
        </li>
        <li class="list-group-item border-0">
          <a href="/" class="text-muted"> Partners </a>
        </li>
        <li class="list-group-item border-0">
          <a href="/" class="text-muted"> Team </a>
        </li>
      </ul>
    </div>
    <div class="col-md-2">
      <ul class="list-group list-group-flush">
        <li class="list-group-item border-0">
          <a href="/" class="text-muted"> About </a>
        </li>
        <li class="list-group-item border-0">
          <a href="/" class="text-muted"> Blog </a>
        </li>
        <li class="list-group-item border-0">
          <a href="/" class="text-muted"> Careers </a>
        </li>
        <li class="list-group-item border-0">
          <a href="/" class="text-muted"> Support </a>
        </li>
      </ul>
    </div>
    <div class="col-md-2">
      <ul class="list-group list-group-flush">
        <li class="list-group-item border-0">
          <a href="/" class="text-muted"> Help </a>
        </li>
        <li class="list-group-item border-0">
          <a href="/" class="text-muted"> Community Forum </a>
        </li>
        <li class="list-group-item border-0">
          <a href="/" class="text-muted"> Learning Lab </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid bg-light">
  <div class="row">
    <div [ngClass]="currentRoute != 'login' &&
    currentRoute != 'intro' &&
    currentRoute != 'register' ? 'container-fluid' : 'container'">
      <div class="row p-4">
        <a href="/" class="text-muted">Copyright UDEN Ltd.</a>
        <a href="/" class="text-muted ml-4">Terms</a>
        <a href="/" class="text-muted ml-4">Privacy</a>
        <a href="/" class="text-muted ml-4">Site Map</a>
      </div>
    </div>
  </div>
  
</div>
