<div
  class="col-md-12 animate__animated animate__slideInLeft animate__faster animate__animated animate__slideInLeft animate__faster"
>
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center h2 pt-2 pb-2">
        Welcome to UDEN, {{ user.name }} !
      </h4>
      <p class="text-center">
        Congratulations! You have registered to a platform of great
        opportunities. At UDEN we help you grow in your endavours. Please answer
        some of the questions about yourself to help us know you better.
      </p>
    </div>
  </div>

  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <form>
          <div class="row form-group">
            <!-- <div class="col-md-12">
              <label class="font-weight-bold p-0 col-md-12" for="inputsm"
                >Identity</label
              >
              <div class="btn-group btn-group-toggle">
                <label class="btn-outline-danger" ngbButtonLabel>
                  <input type="checkbox" ngbButton />
                  Individual
                </label>
                <label class="btn-outline-danger" ngbButtonLabel>
                  <input type="checkbox" ngbButton />
                  Organization
                </label>
              </div>
            </div> -->
            <div class="col-md-12">
              <label class="font-weight-bold p-0 col-md-12" for="inputsm"
                >What level of Qualification do you cater to?</label
              >
              <div class="btn-group btn-group-toggle">
                <label class="btn-outline-danger" ngbButtonLabel>
                  <input type="checkbox" ngbButton />
                  10+2
                </label>
                <label class="btn-outline-danger" ngbButtonLabel>
                  <input type="checkbox" ngbButton />
                  Undergraduate
                </label>
                <label class="btn-outline-danger" ngbButtonLabel>
                  <input type="checkbox" ngbButton />
                  Postgraduate
                </label>
                <label class="btn-outline-danger" ngbButtonLabel>
                  <input type="checkbox" ngbButton />
                  Other
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <label class="font-weight-bold" for="inputsm">City</label>
              <div ngbDropdown class="">
                <button
                  class="btn full-width-select bg-light form-control"
                  id="industryDropdown"
                  ngbDropdownToggle
                >
                  Select
                </button>
                <div ngbDropdownMenu aria-labelledby="industryDropdown">
                  <button ngbDropdownItem>Sector - 1</button>
                  <button ngbDropdownItem>Sector - 2</button>
                  <button ngbDropdownItem>Sector - 2</button>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label class="font-weight-bold" for="inputsm">State</label>
              <div ngbDropdown class="">
                <button
                  class="btn full-width-select bg-light form-control"
                  id="industryDropdown"
                  ngbDropdownToggle
                >
                  Select
                </button>
                <div ngbDropdownMenu aria-labelledby="industryDropdown">
                  <button ngbDropdownItem>Sector - 1</button>
                  <button ngbDropdownItem>Sector - 2</button>
                  <button ngbDropdownItem>Sector - 2</button>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label class="font-weight-bold" for="inputsm"
                >Contact Number</label
              >
              <div class="input-group">
                <input
                  type="extn"
                  class="form-control bg-light col-md-2"
                  value="+91"
                />
                <input type="text" class="form-control bg-light ml-2" />
              </div>
            </div>
            <div class="col-md-6">
              <label class="font-weight-bold" for="inputsm"> </label>

              <div class="form-check">
                <input
                  class="form-check-input pl-2"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
                <label class="small form-check-label" for="flexCheckDefault">
                  Do you wish to receive promotions and notifications?
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <label class="font-weight-bold" for="">GST No.</label>
              <input
                class="form-control input-sm bg-light"
                id="inputsm"
                type="text"
              />
            </div>
            <div class="col-md-4">
              <label class="font-weight-bold" for="">CIN</label>
              <input
                class="form-control input-sm bg-light"
                id="inputsm"
                type="text"
              />
            </div>
            <div class="col-md-4">
              <label class="font-weight-bold" for="">PAN</label>
              <input
                class="form-control input-sm bg-light"
                id="inputsm"
                type="text"
              />
            </div>
            <div class="col-md-6">
              <label class="font-weight-bold" for="">Annual Turnover</label>
              <input
                class="form-control input-sm bg-light"
                id="inputsm"
                type="text"
              />
            </div>
            <div class="col-md-6">
              <label class="font-weight-bold" for="">Total Employees</label>
              <input
                class="form-control input-sm bg-light"
                id="inputsm"
                type="text"
              />
            </div>
            <div class="col-md-6">
              <label class="font-weight-bold col-md-12 p-0" for=""
                >Total Employees</label
              >
              <div class="input-group">
                <input
                  class="form-control input-sm bg-light col-md-10"
                  id="inputsm"
                  type="text"
                />
                <button class="btn btn-light col-md-2 ml-1">+</button>
              </div>
            </div>
            <div class="col-md-12">
              <button
                class="form-control btn btn-danger btn-block mt-4"
                type="submit"
              >
                Complete Setup
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
