<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="row p-4">
        <div class="col-md-12 worker-header animate__animated animate__fadeInDown animate__delay-2s">
          <h1>Learn new skills</h1>
          <h1>Gain more experience</h1>
          <p class="text-muted sub-header">
            Build new skills and gain more experience with coursers from
          </p>
          <p class="text-muted sub-header">
            our world class training partners. Apply for your dream jobs.
          </p>
        </div>
        <div class="col-md-12 actions animate__animated animate__fadeInDown animate__delay-3s">
          <a [routerLink]="['/']" class="large text-warning">Get Mentorship</a>
          <i class="fa fa-circle fa-xs text-light pl-2"></i>
          <a [routerLink]="['/']" class="large text-warning pl-2">Job Connector</a>
          <i class="fa fa-circle fa-xs text-light pl-2"></i>
          <a [routerLink]="['/']" class="large text-warning pl-2">Partner with us</a>
        </div>
        <div class="col-md-12 find-job-btn animate__animated animate__fadeInDown animate__delay-4s">
          <button class="btn btn-warning btn-md text-white">
            Enrich and Enlighten!
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6 text-center animate__animated animate__zoomIn">
      <img src="../../../assets/workers.png" alt="" class="worker-image p-4" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center pt-4 animate__animated animate__zoomIn">
      <h5 class="collaboration">
        Collaborate with more than top 500 companies and training institutes in
        India.
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center animate__animated animate__zoomIn">
      <img src="../../../assets/companies.png" alt="" class="companies-image p-4" />
    </div>
  </div>
  <div class="row" *ngIf="sectiontwo">
    <div class="col-md-6 text-center animate__animated animate__zoomIn">
      <img src="../../../assets/partners.png" alt="" class="worker-image p-4" />
    </div>
    <div class="col-md-6 text-right">
      <div class="row p-4">
        <div class="col-md-12 worker-header animate__animated animate__fadeInDown animate__delay-2s">
          <h1>Your search for world</h1>
          <h1>class talent, ends here</h1>
          <p class="text-muted sub-header">
            Find the best professionals for your industry. Post jobs, conduct
          </p>
          <p class="text-muted sub-header">
            tests and hire only the absolute best.
          </p>
        </div>
        <div class="col-md-12 actions animate__animated animate__fadeInDown animate__delay-3s">
          <a [routerLink]="['/']" class="large text-primary">Get Mentorship</a>
          <i class="fa fa-circle fa-xs text-light pl-2"></i>
          <a [routerLink]="['/']" class="large text-primary pl-2">Job Connector</a>
          <i class="fa fa-circle fa-xs text-light pl-2"></i>
          <a [routerLink]="['/']" class="large text-primary pl-2">Partner with us</a>
        </div>
        <div class="col-md-12 find-job-btn animate__animated animate__fadeInDown animate__delay-4s">
          <button class="btn btn-primary btn-md text-white">
            Hire The best!
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="sectionthree">
    <div class="col-md-6">
      <div class="row p-4">
        <div class="col-md-12 worker-header animate__animated animate__fadeInDown animate__delay-2s">
          <h1>Where knowledge is</h1>
          <h1>accessible to all</h1>
          <p class="text-muted sub-header">
            Publish a course on our platform. Reach out to our student
          </p>
          <p class="text-muted sub-header">
            networks and increase your impact.
          </p>
        </div>
        <div class="col-md-12 actions animate__animated animate__fadeInDown animate__delay-3s">
          <a [routerLink]="['/']" class="large text-danger">Increase Outreach</a>
          <i class="fa fa-circle fa-xs text-light pl-2"></i>
          <a [routerLink]="['/']" class="large text-danger pl-2">Get Enrollments</a>
          <i class="fa fa-circle fa-xs text-light pl-2"></i>
          <a [routerLink]="['/']" class="large text-danger pl-2">Partner with us</a>
        </div>
        <div class="col-md-12 find-job-btn animate__animated animate__fadeInDown animate__delay-4s">
          <button class="btn btn-danger btn-md text-white">
            Find your dream job!
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6 text-center animate__animated animate__zoomIn">
      <img src="../../../assets/educator.png" alt="" class="worker-image p-4" />
    </div>
  </div>
</div>