/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .worker-header {
    h1 {
      font-size: 1.5rem;
    }
    p.sub-header {
      font-size: 0.6rem;
      margin-bottom: 0;
    }
  }

  .actions {
    font-size: 0.6rem;
    padding-top: 1rem;
  }

  .find-job-btn {
    padding-top: 1rem;
    .btn {
      border-radius: 0.45em !important;
    }
  }

  .worker-image {
    width: 100%;
  }

  .companies-image {
    width: 100%;
  }

  .collaboration {
    font-size: 1rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .worker-header {
    h1 {
      font-size: 1.5rem;
    }
    p.sub-header {
      font-size: 0.6rem;
      margin-bottom: 0;
    }
  }

  .actions {
    font-size: 0.6rem;
    padding-top: 1rem;
  }

  .find-job-btn {
    padding-top: 1rem;
    .btn {
      border-radius: 0.45em !important;
    }
  }

  .worker-image {
    width: 100%;
  }

  .companies-image {
    width: 60%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .worker-header {
    h1 {
      font-size: 2.5rem;
      &:first-child {
        padding-top: 2rem;
      }
    }
    p.sub-header {
      font-size: 1rem;
      margin-bottom: 0;
    }
  }

  .actions {
    font-size: 1.1rem;
    padding-top: 1rem;
  }

  .find-job-btn {
    padding-top: 1rem;
    .btn {
      border-radius: 0.45em !important;
    }
  }

  .worker-image {
    width: 100%;
  }

  .companies-image {
    width: 60%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .worker-header {
    h1 {
      font-size: 2.5rem;
      &:first-child {
        padding-top: 2rem;
      }
    }
    p.sub-header {
      font-size: 1rem;
      margin-bottom: 0;
    }
  }

  .actions {
    font-size: 1.1rem;
    padding-top: 1rem;
  }

  .find-job-btn {
    padding-top: 1rem;
    .btn {
      border-radius: 0.45em !important;
    }
  }

  .worker-image {
    width: 100%;
  }

  .companies-image {
    width: 60%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .worker-header {
    h1 {
      font-size: 2.5rem;
      &:first-child {
        padding-top: 2rem;
      }
    }
    p.sub-header {
      font-size: 1rem;
      margin-bottom: 0;
    }
  }

  .actions {
    font-size: 1.1rem;
    padding-top: 1rem;
  }

  .find-job-btn {
    padding-top: 1rem;
    .btn {
      border-radius: 0.45em !important;
    }
  }

  .worker-image {
    width: 100%;
  }

  .companies-image {
    width: 60%;
  }
}

.animate__delay-2s {
  --animate-duration: 500ms;
  animation-delay: 300ms;
}

.animate__delay-3s {
  --animate-duration: 300ms;
  animation-delay: 800ms;
}

.animate__delay-4s {
  --animate-duration: 300ms;
  animation-delay: 1100ms;
}
