<div class="container">
  <div class="col-md-12 animate__animated animate__slideInLeft animate__faster">
    <div class="row">
      <div class="col-md-12">
        <h4 class="text-center pt-2 pb-2">Create an Account</h4>
      </div>
      <div class="col-md-12 text-center">
        <div class="row">
          <div class="col-md-4">
            <button class="btn btn-block mb-2" (click)="registerForm.get('userType').setValue('Individual')" [class]="{
              'btn-warning': registerForm.get('userType').value == 'Individual',
              'btn-light': registerForm.get('userType').value != 'Individual'
            }">
              Individual
            </button>
          </div>
          <div class="col-md-4">
            <button class="btn btn-block mb-2" (click)="registerForm.get('userType').setValue('Corporate')" [class]="{
              'btn-primary': registerForm.get('userType').value == 'Corporate',
              'btn-light': registerForm.get('userType').value != 'Corporate'
            }">
              Corporate
            </button>
          </div>
          <div class="col-md-4">
            <button class="btn btn-block mb-2" (click)="registerForm.get('userType').setValue('Educator')" [class]="{
              'btn-danger': registerForm.get('userType').value == 'Educator',
              'btn-light': registerForm.get('userType').value != 'Educator'
            }">
              Educator
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-12 text-center" *ngIf="!loggedIn">
        <img src="../../../../assets/facebook.png" alt="facebook" class="social-icon shadow" (click)="signInWithFB()" />
        <img src="../../../../assets/google.png" alt="google" class="social-icon shadow" (click)="signInWithGoogle()" />
        <img src="../../../../assets/linkedin.svg" alt="linkedin" class="social-icon shadow" />
      </div>
      <div class="col-md-12 text-center p-2 animate__animated animate__zoomIn animate__faster" *ngIf="loggedIn">
        <img [src]="user.imageUrl" class="user-image mr-2"
          [ngClass]="provider == 'FACEBOOK' ? 'rounded' : 'rounded-circle'" />
        <label>{{ user.name }}</label>
      </div>
      <div class="col-md-12 text-center" *ngIf="!loggedIn">
        <p class="text-primary">Or use your Email instead</p>
      </div>
      <div class="col-md-12 text-center" *ngIf="loggedIn">
        <p class="text-primary">Create a Username and Password</p>
      </div>

      <div class="col-md-4 mx-auto">
        <form [formGroup]="registerForm">
          <div class="form-group">
            <label htmlFor="name" class="font-weight-bold"> Name </label>
            <input type="text" class="form-control" formControlName="name" />
            <div class="animate__animated animate__fadeInDown animate__faster text-danger" *ngIf="
              registerForm.get('name').invalid &&
              registerForm.get('name').errors &&
              (registerForm.get('name').dirty ||
                registerForm.get('name').touched)
            ">
              <small class="text-danger" class="animate__animated animate__fadeInDown animate__faster text-danger"
                *ngIf="registerForm.get('name').hasError('required')">
                Name is required.
              </small>
              <small class="text-danger" class="animate__animated animate__fadeInDown animate__faster text-danger"
                *ngIf="
                registerForm.get('name').hasError('minlength') ||
                registerForm.get('name').hasError('maxlength')
              ">
                Name should have 8 to 25 characters.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label htmlFor="email" class="font-weight-bold"> Email </label>
            <input type="email" class="form-control" formControlName="email" />
            <div class="animate__animated animate__fadeInDown animate__faster text-danger" *ngIf="
              registerForm.get('email').invalid &&
              registerForm.get('email').errors &&
              (registerForm.get('email').dirty ||
                registerForm.get('email').touched)
            ">
              <small class="text-danger" class="animate__animated animate__fadeInDown animate__faster text-danger"
                *ngIf="registerForm.get('email').hasError('required')">
                Email is required.
              </small>
              <small class="text-danger" class="animate__animated animate__fadeInDown animate__faster text-danger"
                *ngIf="registerForm.get('email').hasError('email')">
                Please provide a valid email address.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label htmlFor="username" class="font-weight-bold"> Username </label>
            <input type="text" class="form-control" formControlName="username" />
            <div class="animate__animated animate__fadeInDown animate__faster text-danger" *ngIf="
              registerForm.get('username').invalid &&
              registerForm.get('username').errors &&
              (registerForm.get('username').dirty ||
                registerForm.get('username').touched)
            ">
              <small class="text-danger" class="animate__animated animate__fadeInDown animate__faster text-danger"
                *ngIf="registerForm.get('username').hasError('required')">
                Username is required.
              </small>
              <small class="text-danger" class="animate__animated animate__fadeInDown animate__faster text-danger"
                *ngIf="
                registerForm.get('username').hasError('minlength') ||
                registerForm.get('username').hasError('maxlength')
              ">
                Name should have 8 to 15 characters.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label htmlFor="password" class="font-weight-bold"> Password </label>
            <input type="password" class="form-control" formControlName="password" />
            <div class="animate__animated animate__fadeInDown animate__faster text-danger" *ngIf="
              registerForm.get('password').invalid &&
              registerForm.get('password').errors &&
              (registerForm.get('password').dirty ||
                registerForm.get('password').touched)
            ">
              <small class="text-danger" class="animate__animated animate__fadeInDown animate__faster text-danger"
                *ngIf="registerForm.get('password').hasError('required')">
                Password is required.
              </small>
              <small class="text-danger" class="animate__animated animate__fadeInDown animate__faster text-danger"
                *ngIf="
                registerForm.get('password').hasError('minlength') ||
                registerForm.get('password').hasError('maxlength')
              ">
                Name should have 8 to 15 characters.
              </small>
            </div>
          </div>
          <div class="form-group">
            <re-captcha (resolved)="resolved($event)" formControlName="captchaVlidation"
              siteKey="6LeYn5IaAAAAAMuzvu291IZhFKrMae8MQHj6Jxp-">
            </re-captcha>
            <div class="animate__animated animate__fadeInDown animate__faster text-danger" *ngIf="
              registerForm.get('captchaVlidation').invalid &&
              registerForm.get('captchaVlidation').errors &&
              (registerForm.get('captchaVlidation').dirty ||
                registerForm.get('captchaVlidation').touched)
            ">
              <small class="text-danger" class="animate__animated animate__fadeInDown animate__faster text-danger"
                *ngIf="registerForm.get('captchaVlidation').hasError('required')">
                Please let us know you're human by checking the above box.
              </small>
            </div>
          </div>
          <div class="form-group">
            <p class="small">
              Make sure it’s
              <span> at least 15 characters </span>
              OR at least 8 characters including a number and a lowercase letter.
              <a href="/">Learn More</a>
            </p>
          </div>

          <button class="btn btn-block" [class]="{
            'btn-warning': registerForm.get('userType').value == 'Individual',
            'btn-primary': registerForm.get('userType').value == 'Corporate',
            'btn-danger': registerForm.get('userType').value == 'Educator'
          }" [disabled]="registerForm.invalid" (click)="handleRegister(registerForm)">
            Create Account!
          </button>
        </form>
      </div>

      <div class="col-md-12 mx-auto">
        <div class="row">
          <div class="col-md-4 mx-auto text-center pt-2 small">
            <a [routerLink]="['/login']" routerLinkActive="router-link-active">Already a user? Sign In</a>
          </div>
        </div>
      </div>
      <div class="col-md-12 mx-auto">
        <div class="row">
          <div class="col-md-4 mx-auto pt-2 small">
            By creating an account, you agree to the
            <a href="/">Terms of Service</a>. For more information about GitHub’s
            privacy practices, see the <a href="/">UDEN Privacy Statement</a>.
            We’ll occasionally send you account-related emails.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>