.social-icon {
  margin: 25px;
  padding: 10px;
  border: solid 2px #efefef;
  border-radius: 50px;
  height: 50px;
  background-color: #f5f5f5;
  cursor: pointer;
}

.form-control {
  border-radius: 0.45em !important;
  border: solid 2px #efefef !important;
  background-color: #f5f5f5 !important;
}

.btn {
  border-radius: 0.45em !important;
}

.val-error {
  color: red;
}

.user-image {
  height: 2.5rem;
}
