<div
  class="animate__animated animate__bounceInDown animate__faster"
  id="navbar"
>
  <uden-header></uden-header>
</div>
<uden-content (scroll)="onWindowScroll($event)"></uden-content>
<uden-footer></uden-footer>
