<div class="container">

  <div class="col-md-12 animate__animated animate__slideInLeft animate__faster">
    <div class="row">
      <div class="col-md-12">
        <h4 class="text-center pt-2 pb-2">Welcome to UDEN!</h4>
      </div>

      <div class="col-md-12 text-center">
        <img src="../../../../assets/facebook.png" alt="facebook" class="social-icon shadow" (click)="signInWithFB()" />
        <img src="../../../../assets/google.png" alt="google" class="social-icon shadow" (click)="signInWithGoogle()" />
        <img src="../../../../assets/linkedin.svg" alt="linkedin" class="social-icon shadow" />
      </div>
      <div class="col-md-12 text-center">
        <p class="text-primary">Or use your Email instead</p>
      </div>

      <div class="col-md-4 mx-auto">
        <form>
          <div class="form-group">
            <label htmlFor="username" class="font-weight-bold"> Username </label>
            <input type="text" class="form-control" name="username" />
          </div>
          <div class="form-group">
            <label htmlFor="password" class="font-weight-bold"> Password </label>
            <input type="password" class="form-control" name="password" />
          </div>
          <div class="form-group">
            <p class="small">
              Make sure it’s
              <span> at least 15 characters </span>
              OR at least 8 characters including a number and a lowercase letter.
              <a href="/">Learn More</a>
            </p>
          </div>

          <button class="btn btn-block btn-warning" (click)="signIn()" [routerLink]="['/dashboard']"
            routerLinkActive="router-link-active">
            Login!
          </button>
        </form>
      </div>

      <div class="col-md-12 mx-auto">
        <div class="row">
          <div class="col-md-4 mx-auto text-center pt-2 small">
            <a [routerLink]="['/register']">Click here to Sign Up!</a>
          </div>
        </div>
      </div>
      <div class="col-md-12 mx-auto">
        <div class="row">
          <div class="col-md-4 mx-auto pt-2 small">
            By creating an account, you agree to the
            <a href="/">Terms of Service</a>. For more information about GitHub’s
            privacy practices, see the <a href="/">UDEN Privacy Statement</a>.
            We’ll occasionally send you account-related emails.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>