.progress {
  height: 10px;
  .uden-progress {
    height: 10px;
  }
}

.micro {
  font-size: 10px;
}

.profile-photo {
  width: 80px;
}

.job-item {
  border: 2px solid grey;
  border-radius: 4px;
  margin: 4px 0;
  padding-top: 5px;
}

.bg-grey {
  background-color: #808080;
}

.bg-light-grey {
  background-color: #999999;
}

.big-border-left-green {
  border-left: 25px solid #71ae3c;
}

.big-border-left-blue {
  border-left: 25px solid #6178aa;
}

.big-border-left-red {
  border-left: 25px solid #f16b68;
}

.hashtags {
  cursor: pointer;
}

.left-menu {
  .menu-item {
    cursor: pointer;
    i {
      width: 15%;
    }
    span {
      width: 85%;
    }
  }
}

.mobile-menu {
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 10px;
  i {
    padding: 15px;
    width: 20%;
    &:hover {
      filter: invert(0.5);
    }
  }
}

.sidebar {
  position: fixed;
  top: 0%;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(126, 126, 126, 0.95);
}

.left-mobile-menu {
  position: fixed;
  top: 72px;
  .menu-item {
    font-size: 1.6rem;
    font-weight: bold;
    i {
      width: 15%;
    }
    span {
      width: 85%;
    }
  }
}

.close-button {
  font-size: 1.5rem;
  position: fixed;
  top: 100px;
}

.sidebar-opener {
  position: absolute;
  top: 100px;
  left: 0;
  border-radius: 0 5px 5px 0;
  background-color: rgba(126, 126, 126, 0.95);
  i {
    color: #ffffff;
  }
}
