<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 d-none d-md-block">
      <div class="row left-menu">
        <div class="col-md-12 pb-3 menu-item">
          <i class="fa fa-th-large pr-2" aria-hidden="true"></i> <span>Dashboard</span>
        </div>
        <div class="col-md-12 pb-3 menu-item">
          <i class="fa fa-book pr-2" aria-hidden="true"></i> <span>Job feed</span>
        </div>
        <div class="col-md-12 pb-3 menu-item">
          <i class="fa fa-graduation-cap pr-2" aria-hidden="true"></i> <span>My Courses</span>
        </div>
        <div class="col-md-12 pb-3 menu-item">
          <i class="fa fa-list pr-2" aria-hidden="true"></i> <span>Events</span>
        </div>
        <div class="col-md-12 pb-3 menu-item">
          <i class="fa fa-comments pr-2" aria-hidden="true"></i> <span>Community</span>
        </div>
      </div>
    </div>

    <div class="col-md-7">
      <div class="row">
        <div class="col-md-12">
          <div class="jumbotron bg-white pt-4 pb-4">
            <div class="row">
              <div class="col-md-3 text-center">
                <img src="../../../../assets/profile.png" alt="" class="profile-photo rounded-circle">
                <p class="text-dark font-weight-bold mb-0">Arhonymous D.</p>
                <p class="text-warning mb-0">Product Designer</p>
                <p class="text-muted mb-0">Chennai</p>
              </div>
              <div class="col-md-3">
                <h5 class="text-muted">Top Skills</h5>
                <p class="text-dark mb-0">Brainstorming</p>
                <div class="progress">
                  <div class="progress-bar bg-warning uden-progress" role="progressbar" style="width: 75%"
                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="text-dark mb-0">System Design</p>
                <div class="progress">
                  <div class="progress-bar bg-warning uden-progress" role="progressbar" style="width: 75%"
                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="text-dark mb-0">Adobe Creative Suite</p>
                <div class="progress">
                  <div class="progress-bar bg-warning uden-progress" role="progressbar" style="width: 75%"
                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="text-dark mb-0">Design Management</p>
                <div class="progress">
                  <div class="progress-bar bg-warning uden-progress" role="progressbar" style="width: 75%"
                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <div class="jumbotron bg-light pb-1 pt-1 mt-2">
                      <div class="row">
                        <div class="col-md-4 text-center border-left border-right">
                          <p class="small mb-0 font-weight-bold">Jobs Applied</p>
                          <h4 class="text-warning">
                            9
                          </h4>
                        </div>
                        <div class="col-md-4 text-center border-left border-right">
                          <p class="small mb-0 font-weight-bold">Course Taken</p>
                          <h4 class="text-warning">
                            15
                          </h4>
                        </div>
                        <div class="col-md-4 text-center border-left border-right">
                          <p class="small mb-0 font-weight-bold">Skill Rating</p>
                          <h4 class="text-warning">
                            743
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6">
                        <p class="micro">
                          A product designer who loves to work with physical, digital and emotional aspects of design.
                          Intrigued by the whys and hows of things, I am an individual who loves to learn.
                        </p>
                      </div>
                      <div class="col-md-6">
                        <button class="btn btn-warning btn-block text-white">Take a Course</button>
                        <button class="btn btn-danger btn-block text-white">Apply for Jobs</button>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
        <div class="col-md-6">
          <div class="jumbotron bg-white pt-4 pb-4">
            <div class="row">
              <div class="col-md-12 pb-2">
                <h6>Jobs from your industry</h6>
              </div>
              <div class="col-md-12 pb-2 job-item">
                <div class="row">
                  <div class="col-md-3">
                    <img src="../../../../assets/company1.png" alt="">
                  </div>
                  <div class="col-md-9">
                    <p class="small text-warning mb-0 font-weight-bold"><span class="text-right">Product
                        Designer</span><span class="pl-4 micro text-muted">Chennai, India</span></p>
                    <p class="small text-dark mb-0 font-weight-bold">Upwit Tech Pvt. Ltd.</p>
                    <span class="badge bg-light text-muted">Finance</span><span
                      class="badge bg-light text-muted">Banking</span><span
                      class="badge bg-light text-muted">Multi-national</span>
                  </div>
                </div>
              </div>
              <div class="col-md-12 pb-2 job-item">
                <div class="row">
                  <div class="col-md-3">
                    <img src="../../../../assets/company2.png" alt="">
                  </div>
                  <div class="col-md-9">
                    <p class="small text-warning mb-0 font-weight-bold"><span class="text-right">Design
                        Specialist</span><span class="pl-4 micro text-muted">Bangalore, India</span></p>
                    <p class="small text-dark mb-0 font-weight-bold">MixUp LLC</p>
                    <span class="badge bg-light text-muted">Food</span><span
                      class="badge bg-light text-muted">Packaging</span><span
                      class="badge bg-light text-muted">Technology</span>
                  </div>
                </div>
              </div>
              <div class="col-md-12 pb-2 job-item">
                <div class="row">
                  <div class="col-md-3">
                    <img src="../../../../assets/company3.png" alt="">
                  </div>
                  <div class="col-md-9">
                    <p class="small text-warning mb-0 font-weight-bold"><span class="text-right">System
                        Designer</span><span class="pl-4 micro text-muted">Chennai, India</span></p>
                    <p class="small text-dark mb-0 font-weight-bold">Bright Learning</p>
                    <span class="badge bg-light text-muted">Education</span><span
                      class="badge bg-light text-muted">Technology</span>
                  </div>
                </div>
              </div>
              <div class="col-md-12 pb-2 job-item">
                <div class="row">
                  <div class="col-md-3">
                    <img src="../../../../assets/company4.png" alt="">
                  </div>
                  <div class="col-md-9">
                    <p class="small text-warning mb-0 font-weight-bold"><span class="text-right">Product Design
                        Lead</span><span class="pl-4 micro text-muted">Chennai, India</span></p>
                    <p class="small text-dark mb-0 font-weight-bold">Nirvaan Ventures</p>
                    <span class="badge bg-light text-muted">Finance</span><span
                      class="badge bg-light text-muted">Banking</span><span
                      class="badge bg-light text-muted">Multi-national</span>
                  </div>
                </div>
              </div>
              <div class="col-md-12 pb-2 text-center small text-muted">
                <a href="">Explore Jobs</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <div class="jumbotron bg-white pt-4 pb-4 pl-2 pr-2">
                <div class="row">
                  <div class="col-md-12">
                    <h6>My Calender</h6>
                  </div>
                  <div class="col-md-4">
                    <p class="micro mb-0">Stay on top of your schedule</p>
                    <p class="micro">Never miss a test or job interview</p>
                    <p class="micro font-weight-bold mb-0">Job Interviews : 3</p>
                    <p class="micro font-weight-bold mb-0">Upcoming Classes : 3</p>
                    <p class="micro font-weight-bold mb-0">Upcoming Tests : 3</p>
                  </div>
                  <div class="col-md-8">

                    <ngb-datepicker #d1 [(ngModel)]="model1" #c1="ngModel"></ngb-datepicker>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <div class="jumbotron bg-white pt-4 pb-4 pl-2 pr-2">
                    <div class="row">
                      <div class="col-md-12">
                        <h6>Assesment</h6>
                        <p class="micro mb-0">Get an insight onto what your competitors are doing better than you.</p>
                        <p class="micro">Enhance your skill rating.</p>
                      </div>
                      <div class="col-md-12">
                        <p class="badge badge-pill micro bg-grey text-white pt-1 pb-1 mb-0">Adobe Photoshop Proficiency
                        </p>
                        <p class="badge badge-pill micro bg-light-grey text-white pt-1 pb-1 mb-0">Entrepreneurship</p>
                        <p class="badge badge-pill micro bg-grey text-white pt-1 pb-1 mb-0">Psychometric Assessment</p>
                        <p class="badge badge-pill micro bg-light-grey text-white pt-1 pb-1 mb-0">Visual Perception</p>
                      </div>
                      <div class="col-md-12 pb-2 text-center small text-muted pt-2">
                        <a href="">Other Tests</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="jumbotron bg-white pb-4 pt-4 pr-2 pl-2">
                    <div class="row">
                      <div class="col-md-12">
                        <h6>Events and Webinars</h6>
                      </div>
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-2">
                            <i class="fa fa-play p-2 bg-warning text-white" aria-hidden="true"></i>
                          </div>
                          <div class="col-md-10">
                            <p class="micro text-warning mb-0 font-weight-bold">Visual Hierarchy</p>
                            <p class="text-muted micro">Guest Lecture</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-2">
                            <i class="fa fa-play p-2 bg-primary text-white" aria-hidden="true"></i>
                          </div>
                          <div class="col-md-10">
                            <p class="micro text-warning mb-0 font-weight-bold">Design Conference</p>
                            <p class="text-muted micro">Indian Design Association</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-2">
                            <i class="fa fa-play p-2 bg-danger text-white" aria-hidden="true"></i>
                          </div>
                          <div class="col-md-10">
                            <p class="micro text-warning mb-0 font-weight-bold">Psychology and Design</p>
                            <p class="text-muted micro">Prof. Priyank Mehta</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-2">
                            <i class="fa fa-play p-2 bg-primary text-white" aria-hidden="true"></i>
                          </div>
                          <div class="col-md-10">
                            <p class="micro text-warning mb-0 font-weight-bold">Personality Masterclass</p>
                            <p class="text-muted micro">Jordan B. Peterson</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12">
          <div class="jumbotron bg-white pb-4 pt-4 pl-2 pr-2">
            <div class="row">
              <div class="col-md-12">
                <h4 class="text-warning mb-0">Learn More.</h4>
                <h4 class="text-warning">Learn Better.</h4>
                <h6>Suggested Courses from our teaching partners to hone your skills.</h6>
              </div>
              <div class="col-md-12">
                <div class="bg-light strip p-2 big-border-left-green mb-2">
                  <h6 class="mb-0">Advanced Syntactics</h6>
                  <p class="small text-muted mb-0">University of Michigan</p>
                  <p class="micro">Study the relationships between signs or expressions in abstraction from their
                    signification and their interpreters.</p>
                </div>
                <div class="bg-light strip p-2 big-border-left-blue mb-2">
                  <h6 class="mb-0">Design Management</h6>
                  <p class="small text-muted mb-0">University of Exeter</p>
                  <p class="micro">Take this course to advance in your career as a design manager. Learn the methods of
                    management and its importance in design.</p>
                </div>
                <div class="bg-light strip p-2 big-border-left-red mb-2">
                  <h6 class="mb-0">UI UX Masterclass</h6>
                  <p class="small text-muted mb-0">Conduted by Aaroh Dhondiya!</p>
                  <p class="micro">Learn the process of UX strategy and how to convert it into world class visual
                    designs for web and mobile applications.</p>
                </div>
                <div class="bg-light strip p-2 big-border-left-blue mb-2">
                  <h6 class="mb-0">Designing for Children</h6>
                  <p class="small text-muted mb-0">IIT-Bombay</p>
                  <p class="micro">With the ed-tech industry booming, learn about how child centric design works in the
                    real world.</p>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-12">
          <div class="jumbotron bg-white pt-4 p-4">
            <div class="row">
              <div class="col-md-12">
                <h6>Trending Searches</h6>
              </div>
              <div class="col-md-12 hashtags">
                <p class="micro text-primary">#design
                  #machinelearning
                  #company
                  #designers
                  #topcompanies
                  #recruiter
                  #jobs
                  #graphicdesign
                  #ui
                  #uidesign</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="jumbotron bg-warning text-dark p-4">
            <h4>Upgrade to Pro <i class="fa fa-arrow-right" aria-hidden="true"></i></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid d-md-none sidebar animate__animated animate__fadeInLeft" *ngIf="menuopened">
  <div class="row">
    <div class="col-md-11">
      <div class="row left-mobile-menu p-4">
        <div class="col-md-12 pb-3 menu-item">
          <i class="fa fa-th-large pr-2" aria-hidden="true"></i> <span>Dashboard</span>
        </div>
        <div class="col-md-12 pb-3 menu-item">
          <i class="fa fa-book pr-2" aria-hidden="true"></i> <span>Job feed</span>
        </div>
        <div class="col-md-12 pb-3 menu-item">
          <i class="fa fa-graduation-cap pr-2" aria-hidden="true"></i> <span>My Courses</span>
        </div>
        <div class="col-md-12 pb-3 menu-item">
          <i class="fa fa-list pr-2" aria-hidden="true"></i> <span>Events</span>
        </div>
        <div class="col-md-12 pb-3 menu-item">
          <i class="fa fa-comments pr-2" aria-hidden="true"></i> <span>Community</span>
        </div>
      </div>
    </div>
    <div class="col-md-1 close-button" >
      <i class="fa fa-times float-right text-white" (click)="menuopened = false"></i>
    </div>
  </div>
</div>

<div class="d-md-none sidebar-opener" (click)="menuopened = true" *ngIf="!menuopened">
  <div class="row">
    <div class="col-md-1 opener-button">
      <i class="fa fa-chevron-right p-3  animate__animated animate__shakeX" aria-hidden="true"></i>
    </div>
  </div>
</div>