.full-width-select {
  width: 10rem;
}

.form-control {
  border-radius: 0.45em !important;
  border: solid 2px #efefef !important;
}

.row {
  .col-md-12,
  .col-md-6,
  .col-md-4 {
    padding-top: 18px;
  }
}
