/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$primary: #3e7ac5;
$warning: #fbaa42;
$light: #f5f5f5;
$danger: #f14f5f;
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "~ngx-toastr/toastr-bs4-alert";
